body {
	background-color: #FAF3DD ;
}
h1 {
/*.indie-flower-regular {*/
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

p,li {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}






/*indie flower
Yorkten Slab Norm Thin ital*/